:root {
  /*spacing*/
  --content-width: max(20px, 50% - 70rem / 2);
  --content-height: 4rem;
  --content-width-article: max(20px, 50% - 50rem / 2);

  /*font sizing*/
  --space-2xs: clamp(0.7825rem, 0.7598rem + 0.1136vw, 0.725rem);
  --space-xs: clamp(0.875rem, 0.8523rem + 0.1136vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0795rem + 0.2273vw, 1.25rem);
  --space-l: clamp(3.5rem, 3.3182rem + 0.7091vw, 4rem);
  --space-2xl: clamp(4.5rem, 4.3182rem + 0.9091vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4773rem + 1.3636vw, 7.5rem);

  /*colors*/
  --white-primary01: #fff;
  --black-primary02: #1b1b1b;
  --beige-primary03: #ebe6da;

  --red-secondary01: #771313;
  --blue-secondary02: #437ece;
  --yellow-secondary01: #eaea96;

  --red-tertiary01: #cc3f3e;
  --blue-tertiary02: #19467f;
  --yellow-tertiary03: #a19b19;

  --red-opacity01: #a05d59;
  --red-opacity02: #d77a75;
  --blue-opacity01: #7da3d2;

  /*cards*/
  --card-gap: 1rem;
  --card-border-radius: 15px;
  --card-padding: 2.75rem 2.2rem;
  --card-bg: blur(16px);
  --card-border: 1px solid var(--yellow-tertiary03);
  --card-boxshadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--beige-primary03);
}

section {
  padding-inline: var(--content-width);
  padding-top: var(--content-height);
  padding-bottom: var(--content-height);
}

.no-padding {
  padding-inline: 0;
}

.no-top {
  padding-top: 0;
}

article {
  padding-inline: var(--content-width-article);
  > * + * {
    margin-top: var(--flow-space, 0.5rlh);
  }
}

h1 {
  font-style: italic;
  text-transform: uppercase;
  font-family: Impact, sans-serif;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 6.5rem;
  font-size: var(--space-3xl);
  @media (width<700px) {
    font-size: var(--space-2xl);
    line-height: 4.1rem;
  }
}

h2 {
  text-transform: uppercase;
  font-family: Impact, sans-serif;
  font-size: var(--space-2xl);
  text-decoration: underline;
  @media (width<700px) {
    font-size: var(--space-l);
    line-height: 4.1rem;
  }
}

h3 {
  text-transform: uppercase;
  font-family: helvetica;
  font-weight: 800;
  font-size: var(--space-s);
}

p {
  font-size: var(--space-xs);
}

a {
  color: var(--red-tertiary01);
  transition: linear 0.2s;
  font-weight: 600;
  font-size: var(--space-s);
  font-style: italic;
  &:hover {
    color: var(--red-secondary01);
  }
}

li {
  list-style: none;
}
