---
const { navn, beskrivelse, image, stilling, link} = Astro.props;
---

<li>
        <img src={`/../bestyrelse/${image}`} alt="">
        <div>
            <h3>{navn}</h3>
            <h3 class="stilling">{stilling}</h3>
        </div>
        <p>{beskrivelse}</p>
</li>

<style>
    h3{
        max-width: 20ch;
        color:var(--white-primary01);
    }
    p{
        padding-top:0.5rem;
        max-width: 39ch;
        color:var(--white-primary01);
    }
    img{
        padding-bottom: 1rem;
    }
    div{
        display:flex;
        justify-content: space-between;
        align-items: start;
        .stilling{
        font-weight: 600;
        color: var(--black-primary02);
        font-size: var(  --space-xs);
        color:#e1dfdf;
    }
}

</style>