---
---
<button><slot/></button>

<style>
    button{
        background-color: var(--beige-primary03);
        border: 2px solid var(--red-tertiary01);
        border-radius: 25px;
        padding:15px 45px;
        text-transform: uppercase;
        transform:0.3s;
        &:hover{
            border: 2px solid var(--red-secondary01);
        }
    }
</style>