---
---

<section class="no-padding">
    <h2>trappetrin 177</h2>
    <article class="no-padding">
        <div>
            <h3>kontakt</h3>
        <p>Trappetrin117
            @gmail.com</p>
        </div>
        <div>
            <p>CVR: 29551979</p>
            <p>4300 Holbæk</p>
        </div>
        <div>
            <ul>
                <li><a href="https://www.instagram.com/trappetrin117/">
                <img src="../instagram_icon.webp" alt="instagram icon">
                </a></li>
                <li>
                    <a href="https://www.facebook.com/share/1958ivcj2j/?mibextid=wwXIfr">
                        <img src="../facebook_icon.webp" alt="facebook icon">
                    </a>
                </li>
            </ul>
        </div>
    </article>
</section>

<style>
    section{
        padding-inline: 1rem;
        padding-top:1rem;
        padding-bottom:1rem;
        background-color: var(--blue-tertiary02);
        >*{
            color:var(--beige-primary03)
        }
        article{
            padding-top:1rem;
            ul{
            display:flex;
            gap:10px;
            justify-content: center;
            img{
                width:80%;
            }
        }
        }
    }
</style>