---
const {navn, stilling, image} = Astro.props;
---

<li>
    <img src={`/../vaerk/${image}`} alt="">
    <div>
        <h3>{navn}</h3>
        <h3 class="stilling">{stilling}</h3>
    </div>
</li>

<style> 

    img{
        padding-bottom:1rem;
    }
    div{
        display:flex;
        justify-content: space-between;
        align-items: start;
        h3{
        padding-top:0.5rem;
        color:var(--white-primary01);
    }
    .stilling{
        font-weight: 600;
        color: var(--black-primary02);
        font-size: var(  --space-xs);
        color:#e1dfdf;
        max-width: 15ch;
    }
}
</style>