---
const {navn, stilling, image} = Astro.props;
import Titel from "./Titel.astro";
---

<li>
    <Titel>{stilling}</Titel>
    <img src={`/../vaerk/${image}`} alt="">
    <h3>{navn}</h3>
</li>

<style> 

    img{
        padding-top:1rem;
    }

    h3{
        padding-top:0.5rem;
        color:var(--white-primary01);
    }
</style>