---
---
<h3><slot/></h3>

<style>
    h3{
        background-color: var(--yellow-secondary01);
        display:inline-flex;
        padding:0.5rem 2rem;
        border-radius: 15px;
        position:relative;
        top:10%;
        left:5%;
        font-style: italic;
    }
</style>