---
import Button from "./Button.astro";
const {plakat, beskrivelse, titel, varighed} = Astro.props;
---

    <li>
        <img src={`/../vaerk/${plakat}`} alt="">
    </li>
<div>
    <li>
        <h2>{titel}</h2>
    </li>
    <li>
        <p>{beskrivelse}</p>
    </li>
    <li>
        <h3>Varighed</h3>
        <p>{varighed}</p>
    </li>
    <li>
        <a href="https://www.place2book.com/da/sw2/sales/event_list/EM12959?fbclid=IwY2xjawJGhH1leHRuA2FlbQIxMAABHaDiQ96phJBmChaRZfnhbmfnEWnIwnAc7x8bMUq4BNwixACMJb8ccJHjBA_aem_Hz9rmvYZbzme4TkClU5fNA" target=”_blank1”>
        <Button>billetter</Button>
        </a>
    </li>
</div>

<style>
    img{
        width:80%;
        @media (width<750px){
        width:50%;
        }
    }

    div{
        p{
        max-width: 89ch;
        align-items: center;
        }
        } 


</style>