---
import Button from "./Button.astro";
const {image, genre, beskrivelse, titel, spilledatoer} = Astro.props;
---

<li>
    <img src={`/../vaerker/${image}`} alt="">
</li>
<div>
    <li>
        <h2>{titel}</h2>
    </li>
    <li>
        <p>{beskrivelse}</p>
    </li>
    <li>
        <h3>Spilledatoer</h3>
        <p>{spilledatoer}</p>
    </li>
    <li>
        <a href="https://www.place2book.com/da/sw2/sales/event_list/EM12959?fbclid=IwY2xjawJGhH1leHRuA2FlbQIxMAABHaDiQ96phJBmChaRZfnhbmfnEWnIwnAc7x8bMUq4BNwixACMJb8ccJHjBA_aem_Hz9rmvYZbzme4TkClU5fNA" target=”_blank1”>
        <Button>billetter</Button>
        </a>
    </li>
</div>

<style>
    div{
        padding-top:2.2rem;
        p{
        max-width: 89ch;
        align-items: center;
        }
        }  
</style>